body{
    font-family: "Comfortaa", sans-serif;
}

.heading{
    width: fit-content;
    margin: 0px;
    text-decoration: underline;
}
.navbar{
    background-color: #F8F5E9;
}
#HeroSection{
    width: 100%;
    height: 85vh;
    background-color: #F8F5E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myImageCircle{
    border-radius: 50%;
    
}

#HeroSectionContent{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#HeroSectionContent p{
    font-weight: 600px;
    font-size: 24px;
}
.focus-text{
    font-weight: 800;
    font-size: 32px;
}
.heroButton{
    background-color: black;
    color: white;
    padding: 3px 15px;

}
#aboutMeSection{
    /* border: 1px solid black; */
    display: flex;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.aboutP2{
    padding-left: 20px;
    text-align: left;

}
.aboutP1,.aboutP2{
    width: 50%;
}
.aboutP1 img{
    width: 70%;
    height: auto;
    border-radius: 10px;
}

/* Skill Section */

#skillsSection{
    width: 95%;
    margin: auto;
}
.skillsDiv{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
    margin-top: 10px;
}

.skillsDiv .p1{
    width: 25%;
    background: #F8F5E9;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.skillsDiv .p2{
    width: 75%;
    font-size: 23px;
}

.skillsList{
    display: flex;
    gap: 10px;
    list-style-type: none;
}

/* Project section */

#projectsSection{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.Project {
    width: 85%;
    display: flex;
    border-radius: 1px solid black;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
    border-radius: 15px;
}
.Project .p1 img{
    border-radius: 10px;
}

.Project .p1{
    width: 50%;
    text-align: center;
}

.Project .p2{
    width: 50%;
}

.gitHubButton {
    background-color: black;
    color: white;
    padding: 0px 15px;
    font-size: 18px;
}
.demoButton{
    background-color: #F8F5E9;
    padding: 0px 15px;
    font-size: 18px;
    font-weight: 500;
}

/* Contact Section */

#contactSection{
    border: 1px solid black;
    margin: auto;
    width: 85%;
    border-radius: 15px;
    min-height: 200px;
}
.contactDivOne{
    background: #F44336;
    width: 30%;
    color: white;
    display: flex;
    align-items: center;
    gap: 15%;
    padding: 10px;
    border-radius: 10px;
}
.contactDivTwo{
    background: #017784;
    width: 30%;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
}
.contactDivOne:hover,.contactDivTwo:hover{
    cursor: pointer;

}

.contactButtons{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* footer */

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;
    width: 95%;
    padding: 10px;
}

