body{
    font-family: "Comfortaa", sans-serif;
}
.header{
    background-color: #476EF7;
    color: white;
    padding-left: 25px;
    font-size: large;
}
.form-input{
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #476EF7;
    margin-top: 15px;
    padding: 25px 10px;
}

#add-button{
    background-color: #476EF7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: x-large;
    color: white;
}
.inputs{
    width: 30%;
}
.cards{
    
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}
.card{
     background-color: #476EF7;
     height: 150px;
     width: 18rem;
}
.card-body{
    color: white;
}
.transaction-table{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
    font-weight: 900px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#header-row{
    background-color: #476EF7;
}
#header-row th{
    padding: 15px 15px;
    color: white;
}
.delete-button{
    border: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .header{
        background-color: black;
    }
    .form-input{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 15px;
    }
    .inputs{
        width: 75%;
    }
    #add-button{
        background-color: black;
        width: 75%;
        border-radius: 5%;
    }
    .cards{
    
        display: flex;
        width: 95%;
        margin: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
        
    }
    .card{
        background-color: black;
        width: 150px;
        height: 150px;

    }
    #header-row{
        background-color: black;
    }

}

